* {
	margin:0;
	padding:0;
	box-sizing:border-box
}

@font-face {
	font-family: "Luna";
	src: url("../fonts/luna.ttf");
}
@font-face {
	font-family: "Americana";
	src: url("../fonts/americana.ttf");
}
@font-face {
	font-family: "OpenSans-Light";
	src: url("../fonts/OpenSans-Light.ttf");
}

body {
	margin:0;
/*	background: url(../images/brickwall.jpg) no-repeat fixed;*/
	font-size: 16px;
	background-color:#fdf6ee;
}

header {
	position:relative;
}

footer {
	display: block;
	height:100px;
	background-color: #222;
	margin-top:7px;
}

	footer > p{
		font-family: 'Americana', sans-serif;
		text-transform: uppercase;
		color:#777;
		text-align:right;
		padding-top: 20px;
		padding-right: 30px;
	}

div {
	display: block;
	text-align: center;
}

h1 {
	font-family: 'Luna', script;
	text-transform: lowercase;
	font-size: 3em;
	line-height: 1.5em;
	color:#fdf6ee;
	margin:0;
}

h2 {
	margin-top:0;
	padding-top: 10px;
	padding-left: 20px;
}

h3 {
	color: #F4C038;
	font-family: 'Americana', sans-serif;
	text-transform: uppercase;
	font-size: 2em;
	font-weight:normal;
}

nav {
	height:40px;
	position:absolute;
	top:10px;
	right:10px;
}

a {
	font-family: 'Americana', sans-serif;
	text-transform: uppercase;
	text-decoration:none;
	cursor: pointer !important;
}

aside {
	width:40%;
	float:left;
}
aside>div {
	background-color: #F4C038;
	padding: 15px;
	margin-top: 1em;
	margin-bottom: .9em;
	font-size: 16px;
}
	aside>div>h3 {
		color: #fdf6ee;
		font-family: 'Americana', sans-serif;
		text-transform: uppercase;
		font-size: 2em;
		font-weight:normal;
		text-align:left;
		padding-bottom:.5em;
	}
	aside>div>p {
		color: #222;
		font-family: 'OpenSans-Light', sans-serif;
		font-size: .9em;
		text-align: left;
		line-height: 1.5em;
	}
	aside:nth-child(2) {
		margin-top:0;
	}

figure {
	position:relative;
	overflow:hidden;
	max-width: 450px;
	margin: auto;
	cursor: pointer !important;
}

figure img{
	cursor: pointer !important;
}

figure:hover{
	cursor: pointer !important;
}

figcaption {
	opacity:0;
	position:absolute;
	bottom:23px;
	overflow:hidden;

	font-family: 'Americana', sans-serif;
	text-transform: uppercase;
	font-size: 1.2em;
	color:#fdf6ee;
	background-color:rgba(34,34,34,.75);
	padding:15px;
	width:90.5%;

	left:50%;
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	transform:translateX(-50%);

	-webkit-transition:all 1s ease;
     -moz-transition:all 1s ease;
       -o-transition:all 1s ease;
      -ms-transition:all 1s ease;
          transition:all 1s ease;
}

figure:hover > figcaption {
	display:block;
	opacity:1;
	overflow:hidden;
	cursor: pointer;
}

label {
	display:none;
	position:absolute;
	top:15px;
	right:15px;
	font-size:1.5em;
	font-family: 'Americana', sans-serif;
	color: #fdf6ee;
}

.clearfix:after{
	height:0;
	font-size: 0;
	visibility: hidden;
	content: " ";
	display: block;
	clear: both;
}

.navlinks{
	color:#222;
	padding: 8px 8px 6px 8px;
	margin: 0px 7px;
	background-color: rgba(253,246,238,.75);
}
	.navlinks:hover {
		background-color:#F4C038;
		color: #fdf6ee;
	}

.pagetitle{
	float:left;
}

.column {
	float:left;
	width: 33.3%;
	margin:auto;
	margin-top: 20px;
	cursor: pointer !important;
}
	
	.column figure,
	.column figcaption
	.column a,
	 {
		
		cursor: pointer !important;
	}

.projecticon{
	width: 90%;
	margin-bottom:20px;
	cursor: pointer !important;
}
.socialmedia {
	display: inline;
	width: 50px;
	padding: 0px 10px;
}

#oriella {
	padding-left:1em;
}
#slogan {
	color: #fdf6ee;
	font-size:1.875em;
	padding-top:.25em;
	font-family: 'Americana', sans-serif;
	text-transform: uppercase;
	line-height: 1.617em;
}

#wrapper {
	width:85%;
	margin:auto;
	position:relative;
}

#hero {
	text-align: left;
	background: url(../images/maskheroimg.jpg) no-repeat top fixed;
	background-color: #822E1D;
	height: 265px;
	padding-top: 3em;
	padding-left: 6em;
	padding-bottom:1.5em;
}

#navbar {
	float: right;
	padding-top:10px;
	padding-right: 10px;
}

#checkedbox {
	display:none;
}

#polaroids {
	width:50%;
	float:right;
/*	overflow:hidden;*/
}
	#polaroids img {
		width:75%;
/*		max-width:330px;*/
		display:block;
	/*	margin-left:10px;*/
		margin-bottom:-80px;
	}
		#polaroids img:nth-child(1) {
			float: right;
		}
		#polaroids img:nth-child(2) {
			float: left;
		}
		#polaroids img:nth-child(3) {
			float: right;
			margin-bottom:0px;
		}

#inspotitle {
	font-size: 4em;
	margin-top: 30px;
}

#insta{
	background-color: rgba(253,246,238,.75);
	padding: 15px;
	margin-top: 1em;
}

@media screen and (max-width: 768px) {

	label {
		display:block;
	}
	aside {
		width:100%;
		display:block;
		float:none;
		}
		aside>div>h3 {
			text-align: center;
		}
		aside>div>p {
			text-align: center;
		}
	figcaption {
		display:block;
		position: relative;
		width:100%;
		opacity:1;
		background-color: transparent;
		padding-bottom:0;
		color:#222;
	}
	.column {
		float:none;
		width: 100%;
	}
	.column:first-of-type {
		margin-top: 20px;
	}
	.projecticon {
		width:100%;
	}
	#navbar {
		display:none;
	}
	#checkedbox:checked + #navbar{
		display:block;
	}
	nav {
		top:40px;
	}
	#hero {
		padding-left: 3em;
		background: url(../images/maskheroimg3.jpg) no-repeat top right fixed;

	}
	#polaroids {
		float:none;
		width:100%;
		margin-top:.75em;
	}
		#polaroids img {
			display:block;
		/*	margin-left:10px;*/
			margin-bottom:0px;
		}
		#polaroids img:nth-child(1) {
			width:33.3%;
		}
		#polaroids img:nth-child(2) {
			width:33.3%;
		}
		#polaroids img:nth-child(3) {
			width:33.3%;
		}

@media screen and (max-width: 575px) {
	h1 {
		font-size: 2.5em;
	}
	#hero {
		background: url(../images/smallbrick.jpg) no-repeat top right fixed;
		padding-left:2em;
		padding-top:1.85em;
		height: 200px;
	}
	#slogan {
		margin:auto;
		font-size: 1.6em;
	}
	#polaroids img:nth-child(1) {
			width:100%;
		}
		#polaroids img:nth-child(2) {
			width:100%;
		}
		#polaroids img:nth-child(3) {
			width:100%;
		} 

}