* {
	margin:0;
	padding:0;
	box-sizing:border-box
}

@font-face {
	font-family: "Luna";
	src: url("../fonts/luna.ttf");
}
@font-face {
	font-family: "Americana";
	src: url("../fonts/americana.ttf");
}

body {
	margin:0;
	background: url(../images/brickwall.jpg) no-repeat fixed;
	font-size: 16px;
	background-color:#222;
}

header {
/*	background-color: rgba(244, 192, 56, 0.85);*/
	height: 50px;
}

aside {
	max-width:300px;
	margin: auto;
	float: left;
	background-color: rgba(244, 192, 56, 0.85);
}

section {
	margin:2em;
	background: #fbf8f1;
	padding: 1.5em;
	box-shadow: 5px 5px 20px 3px #222
}

footer {
	display: block;
	height:50px;
	background-color: #222;
	margin-top:7px;
}

	footer > p{
		font-family: 'Americana', sans-serif;
		text-transform: uppercase;
/*		line-height: 1.617em;*/
		color:#777;
		text-align:right;
		padding-top: 25px;
		padding-right: 40px;
	}

div {
	display: block;
	text-align: center;
}

h1 {
	font-family: 'Luna', script;
	text-transform: lowercase;
	font-size: 3em;
	line-height: 1.5em;
	color: #222;
	margin:0;
}

h2 {
	margin-top:0;
	padding-top: 10px;
	padding-left: 20px;
}

h3 {
	color: #F4C038;
	font-family: 'Americana', sans-serif;
	text-transform: uppercase;
	font-size: 2em;
}

nav {
	height:50px;
	display: block;
}

a {
/*	color:#F4C038;*/
	font-family: 'Americana', sans-serif;
	text-transform: uppercase;
/*	font-weight:bold;*/
/*	font-style: italic;*/
	text-decoration:none;
}

figure {
	position:relative;
	overflow:hidden;
}

figcaption {
/*	display:none;*/
	opacity:0;
	position:absolute;
	bottom: 18px;

	font-family: 'Americana', sans-serif;
	text-transform: uppercase;
	font-size: 1.2em;
/*	color: #222;*/
	color:#fdf6ee;
/*	background-color:rgba(244,192,56,.75);*/
	background-color:rgba(34,34,34,.75);
	padding:15px;
	width:90%;

	left:50%;
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	transform:translateX(-50%);

	-webkit-transition:all 1s ease;
     -moz-transition:all 1s ease;
       -o-transition:all 1s ease;
      -ms-transition:all 1s ease;
          transition:all 1s ease;
}

figure:hover > figcaption {
/*	display:block;*/
	opacity:1;
	bottom: 23px;
	overflow:hidden;
}

main {
	display: block;
}

.clearfix:after{
	height:0;
	font-size: 0;
	visibility: hidden;
	content: " ";
	display: block;
	clear: both;
}

.navlinks{
	color:white;
	padding:7px;
	margin: 0px 7px;
	background-color: rgba(255,255,255,.5);
}

.pagetitle{
	float:left;
}

.projecticon{
	width: 90%;
	padding-bottom:20px;
/*	  -webkit-transition: filter .1s ease;
     -moz-transition: filter .1s ease;
       -o-transition: filter .1s ease;
      -ms-transition: filter .1s ease;
          transition: filter .1s ease;*/
}
/*	.projecticon:hover {
		-webkit-filter: saturate(0);
	}*/

#oriella {
	padding-left:1em;
}
#slogan {
	color: #F4C038;
	font-size:1.75em;
	padding-top:.25em;
}

#wrapper {
	width:85%;
	margin:auto;
}

#hero {
	text-align: left;
	background: url(../images/maskheroimg.jpg) no-repeat top fixed;
	background-color: #fdf6ee;
	height: 80%;
	padding-top: 3em;
	padding-left: 6em;
	padding-bottom:1.5em;
}

	#hero>p {
		font-family: 'Americana', sans-serif;
		text-transform: uppercase;
		line-height: 1.617em;
	}

#navbar {
	float: right;
	padding-top:15px;
	padding-right: 10px;
}

#column1 {
	float:left;
	width: 33.3%;
}

#column2 {
	float:left;
	width: 33.3%;
}

#column3 {
	float:left;
	width: 33.3%;
}

/*#backgroundimage {
	background: url(../images/maskheroimg.jpg) no-repeat center center fixed;
	background-size: cover;
	height:200px;
}*/